.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 15px;
}

.button__shuffle {
  width: 45%;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-family: "Noto Sans JP", sans-serif;
}

.button__like {
  width: 45%;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 15px;
}

.button__like span {
  color: rgba(0, 0, 0, 0.3);
}
