@import "reset.css";
@import "topbar.css";
body {
  height: 500px;
  width: 700px;
  color: black;
  background-image: url("https://i.pinimg.com/originals/62/3c/12/623c1276d997079cb30f04a238ca6f45.png");
  background-size: 700px 1400px;
  display: flex;
  justify-content: space-around;
}

.base-box {
  background-color: whitesmoke;
  height: 500px;
  width: 270px;
  border-radius: 20px;
  margin-top: 100px;
}

.singer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.singer__img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.singer__name {
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}

.singer__tag {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.button__shuffle {
  width: 45%;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: black;
  color: white;
}

.button__like {
  width: 45%;
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 15px;
}
