@import "reset.css";
@import "topbar.css";
@import "firstcontent.css";
body {
  height: 100vh;
}
.backgroundbox {
  width: 350px;
  height: 100vh;
  margin: 30px;
}
.maincontent {
  display: flex;
  height: 200px;
  width: 400px;
  padding-left: 15px;
}
.adventures__box {
  width: 70px;
  height: 100px;
  margin-right: 30px;
  border-radius: 5px;
}
.adventures__box:first-child {
  background-color: tomato;
}
.adventures__box:nth-child(2) {
  background-color: orange;
}
.adventures__box:nth-child(3) {
  background-color: yellow;
}
.adventures__box:nth-child(4) {
  background-color: green;
}
.second__maincontent {
  display: flex;
  height: 100px;
  width: 400px;
  padding-left: 15px;
}
.maincontent__smallstar {
  display: flex;
  width: 600px;
}
.adventures__star {
  color: gold;
}
