@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
body {
  height: 100vh;
  width: 100vh;
}
.basis-box {
  height: 700px;
  width: 250px;
  border: 4px solid darkturquoise;
  padding: 20px;
}
.playlist-box {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.fa-times {
  position: absolute;
  left: 30px;
}
.song-box {
  display: flex;
}
.img-icon {
  background-color: orange;
  width: 100px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  margin-right: 10px;
}
.song-name p {
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}
p:first-child {
  font-size: 25px;
}
.song-title {
  font-family: "Montserrat", sans-serif;
}
.fa-image {
  color: white;
}
.play-icon {
  display: flex;
  height: 50px;
  justify-content: space-around;
  margin-top: 30px;
}
.playbox {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  border-radius: 10px;
}
.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 45px;
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 10px;
}
.playbox > div {
  font-family: "Montserrat", sans-serif;
  margin: 4px;
}

.circlebox {
  display: flex;
}

.subsongbox {
  display: flex;
}
